.app {
  height: 100vh;
  background-image: linear-gradient(to right top, #2a2f66 0%, #78b4ba 100%);
}

.task-board {
  display: flex;
  width: 80%;
  margin: 0px auto;
  padding-top: 100px;
}

.board-column {
  background-color: rgba(202, 206, 213, 0.8);
  position: relative;
  float: left;
  margin: 10px;
  border-radius: 5px;
  flex-basis: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex: 1;
  min-width: 30%;
  min-height: 200px;
  padding: 20px;
  padding-top: 50px;
}
.board-column__task {
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 3px 10px -2px rgba(22, 22, 22, 0.3);
}

.column-name {
  color: #1c2640;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 14px;
  top: 10px;
}

.text-center {
  text-align: center;
}
